@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

.section-container {
  @apply shadow-[10px_10px_0px_0px_rgba(0,0,0)]
}

.section-container:hover img {
  @apply grayscale-0
}

.img-container {
  @apply shadow-[5px_5px_0px_0px_rgba(0,0,0)]
}